DB_URL="postgres://postgres:postgresql@localhost:5432/postgres?sslmode=disable"
JWK_PUBLIC="eyJjcnYiOiJQLTI1NiIsImtpZCI6ImUwMWEyN2JjLWRkZTgtNGM4MC1iZGVmLTgxMWQwNTlkNjIxZiIsImt0eSI6IkVDIiwieCI6ImRURElxZ3VweTZETUhVY184YUFsSm1pUTVaa0d0S2docE9tSVU4aTRzV2ciLCJ5IjoiZXJ1aUptbU83YjMxSG56Q0FrMms0RFRDRFhGVFh6bHNkTFNjSVVsd25fZyJ9"
JWK_PRIVATE="eyJjcnYiOiJQLTI1NiIsImQiOiJCNVR4d00wUXQySklYQmg4eDFTM0oxUGFSMXYzU051Z2YtQTYxWlRkV1lBIiwia2lkIjoiZTAxYTI3YmMtZGRlOC00YzgwLWJkZWYtODExZDA1OWQ2MjFmIiwia3R5IjoiRUMiLCJ4IjoiZFRESXFndXB5NkRNSFVjXzhhQWxKbWlRNVprR3RLZ2hwT21JVThpNHNXZyIsInkiOiJlcnVpSm1tTzdiMzFIbnpDQWsyazREVENEWEZUWHpsc2RMU2NJVWx3bl9nIn0="
